header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--darkBule);
}

header .logo {
  font-size: 23px;
}

header .logo span {
  color: var(--darkBule);
}

.header-left {
  display: grid;
  align-items: center;
  min-width: 40%;
  /*   justify-content: space-between; */
}

.header-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 0 1rem;
  background: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  color: var(--black);
  font-weight: bold;
}

.btn-primary {
  background: var(--teal);
}

.btn-primary:hover {
  background: var(--lightTeal);
  color: var(--black);
}

header .btns .btn {
  margin: 0 10px;
}

/* HERO */

#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-left {
  display: block;
  padding: 2rem;
}

.hero-left p {
  color: var(--paraGrey);
  font-weight: bold;
}

.hero-left h5 {
  color: var(--headingGrey);
  font-size: 1rem;
}

.hero-left h5::before {
  content: '\f111';
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;
  color: var(--purple);
}

.hero-title {
  margin: 1rem 0;
  font-size: 2.8em;
  color: var(--darkBlue);
  line-height: 1.2;
}

#hero .btn {
  margin: 1rem 0;
  border: 2px solid var(--darkBlue);
}

#hero .btn-primary:hover {
  border-color: var(--lightTeal);
}
