@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --purple: #6935d3;
  --darkBule: #192951;
  --teal: #1ad3c5;
  --lightTeal: #bbf2ee;
  --otherPurple: #6639a6;
  --black: #000;
  --white: #fff;
  --paraGrey: #999;
  --headingGrey: #888;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
  font-family: 'Josefin Sans', Arial;
  /* background: linear-gradient(145deg, #1ad3c5 0%, #6639a6 100%) no-repeat fixed; */
}

body {
  height: 100vh;
}
/* .wrapper {
  height: 100vh;
} */
